<div class="modal-backdrop">
  <div class="add-modal">
    <button type="button" class="modal-close-btn">
      <svg class="modal-close-icon" width="16" height="16">
        <use href="./img/sprite.svg#icon-x-close"></use>
      </svg>
    </button>
    <div class="pop-up">
      <div class="modal-card"></div>
      <button type="button" class="modal-btn js-add-btn">Add to shopping list</button>
      <button type="button" class="modal-btn js-remove-btn visually-hidden">
        Remove from shopping list
      </button>
      <p class="modal-remove-text visually-hidden">
        Сongratulations! You have added the book to the shopping list. To delete, press the button
        “Remove from the shopping list”.
      </p>
    </div>
  </div>
</div>
