<div class="hero-container">
  <h1 class="hero-title shopping-list-title">Shopping <span class="hero-accent">List</span></h1>
</div>

<div class="pagination-container">
  <ul id="paginated-list" class="shopping-list" data-current-page="1" aria-live="polite"></ul>

  <!-- <div class="str-box">
		<button class="pagination-button" id="prev-button" aria-label="Previous page" title="Previous page">&lt;</button>
		<div id="pagination-numbers">
			
		</div>
		<button class="pagination-button" id="next-button" aria-label="Next page" title="Next page">&gt;</button>
	</div> -->
</div>
